{% extends 'base.html' %}

{% block title %}{{ club.name }}{% endblock %}

{% block content %}

<h1>{{ club.name }} Details Page</h1>

<button class="btn btn-success">Join club</button>

<h3>Current book:                     
    {% for book in club.books %}
        {% for read in book.reads %}
            {% if read.current %}
            <a href="/books/{{ book.id }}">
                <div class="card curr-read" style="width: 18rem"" data-status="{{ read.complete }}">
                    <img class="card-img-top" src="{{ book.image }}" alt="{{ book.title }}">
                    <div class="card-body">
                        <h5 class="card-title curr-title">{{ book.title }}</h5>
                    </div>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    {% endfor %}
</h3>

{% endblock %}