{% extends 'base.html' %}

{% block title %}Clubs{% endblock %}

{% block content %}

<h1>Clubs on BookTalk</h1>

<a href="/clubs/create" class="btn btn-success">Create a new Club</a>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, msg in messages %}
            <p class="{{ category }}">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="row">
    
        {% for club in clubs %}
            <div class="card club-card" style="width: 18rem">
                <div class="card-body">
                    {% if club.books|length > 0 %}
                        {% for book in club.books %}
                            {% for read in club.reads %}
                                {% if read.book_id == book.id and read.current %}
                                    <img src="{{ book.image }}" alt="{{ book.title }}" class="card-img-top">
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <img src="/static/images/placeholder.png" alt="No current book" class="card-img-top">
                    {% endif %}
                    <h5 class="card-title">{{ club.name }}</h5>
                    {% if club.books|length > 0 %}
                        {% for book in club.books %}
                            {% for read in club.reads %}
                                {% if read.book_id == book.id and read.current %}
                                    <p>Currently reading: <b>{{ book.title }}</b></p>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                    <p>Currently reading: <b>Nothing yet</b></p>
                    {% endif %}
                    <a href="/clubs/{{ club.id }}" class="btn btn-primary">Check out this club</a>
                </div>
            </div>
        {% endfor %}
 
</div>


{% endblock %}
