{% extends 'base.html' %}

{% block title %}{{ club.name }}{% endblock %}

{% block content %}

<h1>{{ club.name }}</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, msg in messages %}
            <p class="{{ category }}">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<h3>Currently reading:                     
    {% for book in club.books %}
        {% for read in book.reads %}
            {% if read.current %}
                <div class="card text-center curr-read" style="width: 18rem">
                    <a href="/books/{{ book.id }}">
                        <img class="card-img-top" src="{{ book.image }}" alt="{{ book.title }}">
                    </a>
                        <div class="card-body">
                            <h5 class="card-title curr-title">
                                <a href="/books/{{ book.id }}">
                                    {{ book.title }}
                                </a>
                            </h5>
                        </div>
                    {% if g.user.id == admin.id or g.user in mods %}
                        <form action="/clubs/{{ club.id }}/{{ book.id }}/toggle_complete" method="post">
                            <button class="btn btn-success ml-2" id="finish-book">Mark as Finished</button>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</h3>


<h3>Meetings:</h3>
<div class="row">
   {% for meeting in club.meetings %}
       <div class="meeting-tile">
           <a href="/clubs/{{ club.id }}/meetings/{{ meeting.id }}">
               {{ meeting.date }}
           </a>
       </div>
   {% endfor %}
</div>


 <h3>BookTalkers in {{ club.name }}:</h3>
 <h5>Admin:</h5>
 <ul class="admin-list">
    {% for user in club.users %}
        {% if user.id == admin.user_id %}
            <li><a href="/users/{{ user.id }}">{{ user.username }}</a></li>
        {% endif %}
    {% endfor %}
 </ul>
 <h5>Moderators:</h5>
 <ul class="mods-list">
    {% for user in mods %}
        <li>
            <a href="/users/{{ user.id }}">{{ user.username }}</a>
            {% if g.user.id == admin.user_id %}
                <form action="/clubs/{{ club.id }}/{{ user.id }}/toggle_moderator" method="post" class="form-inline col">
                    <button class="btn btn-outline-danger">Demote</button>
                </form>
            {% endif %}
        </li>
    {% endfor %}
 </ul>
 <h5>Other members:</h5>
 <ul class="members-list">
    {% for user in club.users %}
        {% if user.id != admin.user_id and user not in mods %}
            <li>
                <a href="/users/{{ user.id }}">{{ user.username }}</a>
                {% if g.user.id == admin.user_id %}
                    <form action="/clubs/{{ club.id }}/{{ user.id }}/toggle_moderator" method="post" class="form-inline col">
                        <button class="btn btn-outline-success">Make Moderator</button>
                    </form>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
 </ul>

 {% if g.user.id == admin.id or g.user in mods %}
    <a href="/books/add" class="btn btn-success">Add a new book!</a>
{% endif %}


 <h3>Shelves:</h3>

 <div class="shelf">
    <h4>To Read:</h4>
        {% if unfinished|length >= 1 %}
            <div class="row shelf-unfinished">
                {% for book in unfinished %}
                    <div class="col-sm-6">
                        <div class="card book-unfinished" style="width: 15rem">
                            <a href="/books/{{ book.id }}">
                                <img class="card-img-top" src="{{ book.image }}" alt="{{ book.title }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title curr-title">
                                    <a href="/books/{{ book.id }}">
                                        {{ book.title }}
                                    </a>
                                </h5>
                                <form action="/clubs/{{ club.id }}/{{ book.id }}/toggle_current" method="post">
                                    <button class="btn btn-success ml-2" id="finish-book">Mark as Current</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <div>No books added yet!</div>
        {% endif %}

    <h4>Finished:</h4>
        {% if finished|length >= 1 %}
            <div class="row shelf-finished">
                {% for book in finished %}
                    <div class="col-sm-6">
                        <div class="card book-finished" style="width: 15rem">
                            <a href="/books/{{ book.id }}">
                                <img class="card-img-top" src="{{ book.image }}" alt="{{ book.title }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title curr-title">
                                    <a href="/books/{{ book.id }}">
                                        {{ book.title }}
                                    </a>
                                </h5>
                            </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <div>No books finished yet!</div>
        {% endif %}

 </div>
 
 <div class="footer">
    <form method="POST" action="/clubs/{{ club.id }}/leave" class="form-inline">
        <button class="btn btn-danger ml-2">Leave Club</button>
    </form>
    {% if g.user.id == admin.id %}
        <form method="POST" action="/clubs/{{ club.id }}/delete" class="form-inline">
            <button class="btn btn-outline-danger ml-2">Delete Club</button>
        </form>
    {% endif %}
 </div>


{% endblock %}