{% extends 'base.html' %}

{% block title %}{{ club.name }}{% endblock %}

{% block content %}

<h1>{{ club.name }}</h1>

<h3>Currently reading:                     
    {% for book in club.books %}
        {% for read in book.reads %}
            {% if read.current %}
                <div class="card curr-read" style="width: 18rem">
                    <a href="/books/{{ book.id }}">
                        <img class="card-img-top" src="{{ book.image }}" alt="{{ book.title }}">
                    </a>
                        <div class="card-body">
                            <h5 class="card-title curr-title">
                                <a href="/books/{{ book.id }}">
                                    {{ book.title }}
                                </a>
                            </h5>
                        </div>
                    <button class="btn btn-success" id="finish-book">Mark as Finished</button>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</h3>

 <h3>BookTalkers in {{ club.name }}:</h3>
 <ul>
    {% for user in club.users %}
        <li><a href="/users/{{ user.id }}">{{ user.username }}</a></li>
    {% endfor %}
 </ul>

 <h3>Meetings:</h3>
 <div class="row">
    {% for meeting in club.meetings %}
        <div class="meeting-tile">
            <a href="/clubs/meetings/{{ meeting.id }}">
                {{ meeting.date }}
            </a>
        </div>
    {% endfor %}
 </div>

 <h3>Shelves:</h3>

 <div class="shelf">
    <h4>Finished:</h4>
        {% if finished|length >= 1 %}
            <div class="row shelf-finished">
                {% for book in finished %}
                    <div class="col-sm-6">
                        <div class="card book-finished" style="width: 15rem">
                            <a href="/books/{{ book.id }}">
                                <img class="card-img-top" src="{{ book.image }}" alt="{{ book.title }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title curr-title">
                                    <a href="/books/{{ book.id }}">
                                        {{ book.title }}
                                    </a>
                                </h5>
                            </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <div>No books finished yet!</div>
        {% endif %}
    <h4>To Read:</h4>
        {% if unfinished|length >= 1 %}
            <div class="row shelf-unfinished">
                {% for book in unfinished %}
                    <div class="col-sm-6">
                        <div class="card book-unfinished" style="width: 15rem">
                            <a href="/books/{{ book.id }}">
                                <img class="card-img-top" src="{{ book.image }}" alt="{{ book.title }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title curr-title">
                                    <a href="/books/{{ book.id }}">
                                        {{ book.title }}
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <div>No books added yet!</div>
        {% endif %}
 </div>
 
 <form method="POST" action="/clubs/{{ club.id }}/delete" class="form-inline">
    <button class="btn btn-outline-danger ml-2">Delete Club</button>
</form>



{% endblock %}