{% extends 'base.html' %}

{% block title %}Library{% endblock %}

{% block content %}

<h1>My Books</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, msg in messages %}
            <p class="{{ category }}">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="row">
    
    {% for book in books %}
        <div class="card book-card" style="width: 18rem">
            <div class="card-body">

                <img src="{{ book.image }}" alt="{{ book.title }}" class="card-img-top">

                <h5 class="card-title">{{ book.title }}</h5>
                
                <div class="container">
                    <div class="row">
                        <a href="/books/{{ book.id }}" class="btn btn-primary col">Details</a>
                        {% if book not in g.user.favorites %}
                            <form method="POST" action="/books/{{ book.id }}/favorite" class="form-inline col">
                                <button class="btn btn-outline-success">Favorite</button>
                            </form>
                        {% else %}
                            <form method="POST" action="/books/{{ book.id }}/remove_favorite" class="form-inline col">
                                <button class="btn btn-outline-danger">Unfavorite</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
 
</div>


{% endblock %}
