{% extends 'base.html' %}

{% block title %}Library{% endblock %}

{% block content %}

<h1>My Books</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, msg in messages %}
            <p class="{{ category }}">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="row">
    
    {% for book in books %}
        <div class="card book-card" style="width: 18rem">
            <div class="card-body">

                <img src="{{ book.image }}" alt="{{ book.title }}" class="card-img-top">

                <h5 class="card-title">{{ book.title }}</h5>
                
                <a href="/books/{{ book.id }}" class="btn btn-primary">Details</a>
                {% if book not in g.user.favorites %}
                    <form method="POST" action="/books/{{ book.id }}/favorite" class="form-inline">
                        <button class="btn btn-outline-success ml-2">Add to Favorites</button>
                    </form>
                {% else %}
                    <form method="POST" action="/books/{{ book.id }}/remove_favorite" class="form-inline">
                        <button class="btn btn-outline-danger ml-2">Remove from Favorites</button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
 
</div>


{% endblock %}
