/* Page Styles */

body {
	background-color: #127780;
}

.wrapper {
	padding: 10px;
}

a {
	color: #44f1b6;
}

.page-logo {
	max-width: 300px;
}

.info-text {
	color: white;
}

h1 {
	color: white;
}
h2 {
	color: white;
}
h3 {
	color: white;
}
h4 {
	color: white;
}
h5 {
	color: white;
}

p {
	color: white;
}

/* Navbar */

.navbar {
	background-color: #0c4d53;
	padding-left: 10px;
}

.nav-link {
	color: white;
	text-decoration: none;
}

.nav-link:hover {
	color: #44f1b6;
	text-decoration: none;
}

.navbar-brand {
	width: 3rem;
}

/* .navbar-brand:hover {
	width: 3rem;
	transform: rotate(30);
} */

/* Cards */

.card-img-top {
	height: 15rem;
	object-fit: contain;
	margin-top: 10px;
	/* background-color: #127780; */
}

.card {
	background-color: #18a1ad;
}

/* Forms */

.container .form-container {
}

#profile-pic {
	width: 15rem;
	object-fit: contain;
	display: block;
}

#cover-photo {
	width: 10rem;
}

/* Buttons */

/* Update buttons to align with BookTalk color pallette */

.btn-success {
	background-color: #0fc083;
	color: white;
	outline: none;
}

.btn-primary {
	background-color: #0fc083;
	color: white;
	border: none;
}

.btn-primary:hover {
	background-color: #0e8d61;
	color: white;
	border: none;
}

.btn-danger {
	background-color: #a7a29a;
	border: none;
}
.btn-danger:hover {
	background-color: #868177;
	border: none;
}
/* .btn-danger:focus {
	background-color: #a7a29ac9;
	border-color: #69645cc9;
} */

.btn-outline-danger {
	background-color: #f6f6f6;
	color: #7a7670c9;
	border-color: #7a7670c9;
}

/*** 
Shelves

*/

.shelf-unfinished {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	overflow: auto;

	background-color: #d9cab3;
}

.shelf-finished {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	overflow: auto;

	background-color: #d9cab3;
}

.card.book-unfinished {
	background-color: #d6c09e;
}

.card.book-finished {
	background-color: #d6c09e;
}

.card-title a {
	color: white;
}
