/* Page Styles */

/* html {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
} */

body {
	background-color: #127780;
}

.wrapper {
	padding: 10px;
}

.centered-content {
	display: flex;
	justify-content: center;
}

a {
	color: #44f1b6;
}

.page-logo {
	max-width: 300px;
}

.messages {
	display: flex;
	justify-content: center;
}

.info-table {
	padding-right: 2rem;
	padding-left: 2rem;
}

.info-text {
	color: white;
}

h1 {
	color: white;
}
h2 {
	color: white;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
h3 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: white;
}
h4 {
	color: white;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
h5 {
	color: white;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

p {
	color: white;
}

li {
	color: white;
}

/* Navbar */

.navbar {
	background-color: #0c4d53;
	padding-left: 10px;
}

.nav-link {
	color: white;
	text-decoration: none;
}

.nav-link:hover {
	color: #44f1b6;
	text-decoration: none;
}

.navbar-brand {
	width: 3rem;
}

/* Cards */

.card-img-top {
	height: 15rem;
	object-fit: contain;
	margin-top: 10px;
	/* background-color: #127780; */
}

.card {
	background-color: #18a1ad;
}

.card h5 {
	margin: auto;
}

/* Forms */

.container .form-container {
}

#profile-pic {
	width: 15rem;
	object-fit: contain;
	display: block;
}

#cover-photo {
	width: 10rem;
}

/* Buttons */

/* Update buttons to align with BookTalk color pallette */

.btn {
	max-width: 9rem;
	margin-left: 1rem;
	margin-top: 1rem;
}

.btn-success {
	background-color: #0fc083;
	color: white;
	outline: none;
}

.btn-primary {
	background-color: #0fc083;
	color: white;
	border: none;
}

.btn-primary:hover {
	background-color: #0e8d61;
	color: white;
	border: none;
}

.btn-outline-success {
	background-color: #0fc083;
	color: white;
	border: none;
}

.btn-danger {
	background-color: #a7a29a;
	border: none;
}
.btn-danger:hover {
	background-color: #868177;
	border: none;
}

.btn-outline-danger {
	background-color: #f6f6f6;
	color: #7a7670c9;
	border-color: #7a7670c9;
}

/*** 
Home Page

*/

.home-logo {
	display: flex;
	justify-content: center;
}

/*** 
Member Club Page

*/

/* Users and Meetings */

.club-info {
	display: flex;
	justify-content: space-around;
}

.meetings {
	background-color: #18a1ad;
	padding: 2rem;
	border-radius: 2rem;
}

.users {
	background-color: #18a1ad;
	padding: 2rem;
	border-radius: 2rem;
}

/* Shelves */

.shelf-unfinished {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	overflow: auto;

	background-color: #d9cab3;
	padding: 2rem;
	border-radius: 2rem;
}

.shelf-finished {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	overflow: auto;

	background-color: #d9cab3;
	padding: 2rem;
	border-radius: 2rem;
}

.card.book-unfinished {
	background-color: #d6c09e;
}

.card.book-unfinished .btn {
	background-color: #a7a29a;
	border: none;
}
.card.book-unfinished .btn:hover {
	background-color: #868177;
	border: none;
}

.card.book-finished {
	background-color: #d6c09e;
}

.card-title a {
	color: white;
}

/* Footer */

.footer {
	display: flex;
	justify-content: flex-start;
}

.footer .form-inline {
	margin: 3px;
}

/*** 
Meeting Details Page

*/

/* Notes */

.notes {
	margin: 2rem;
}
