/* Main Paige */

body {
	background-color: #127780;
}

.wrapper {
	max-width: 960px; /* 20px smaller, to fit paddings on the sides */

	padding: 10px;
}

a {
	color: #44f1b6;
}

.page-logo {
	max-width: 300px;
}

.info-text {
	color: white;
}

/* Navbar */

.navbar {
	background-color: #0c4d53;
	padding-left: 10px;
}

.nav-link {
	color: white;
	text-decoration: none;
}

.nav-link:hover {
	color: #44f1b6;
	text-decoration: none;
}

.navbar-brand {
	width: 3rem;
}

.navbar-brand:hover {
	width: 3rem;
	transform: rotate(30);
}

/* Cards */

.card-img-top {
	height: 15rem;
	object-fit: contain;
}

/* Forms */

.container .form-container {
}

#profile-pic {
	width: 15rem;
	object-fit: contain;
	display: block;
}

#cover-photo {
	width: 10rem;
}
