{% extends 'base.html' %}

{% block title %}{{ user.username }} Profile{% endblock %}

{% block content %}

<h1 class="header">{{ user.username }} Details</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, msg in messages %}
            <p class="{{ category }}">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container profile-container">
    <img src="{{ user.image }}" alt="{{ user.username }} profile image" id="profile-pic">
</div>

<ul>
    <li>Username: {{ user.username }}</li>
    <li>Name: {{ user.first_name }} {{ user.last_name }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Bio: {{ user.bio }}</li>
</ul>

<h5>{{ user.username }}'s Favorites:</h5>
<div class="row favorites">
    {% for book in user.favorites %}
        <div class="fav-tile">
            <a href="/books/{{ book.id }}">
                {{ book.title }}
            </a>
        </div>
    {% endfor %}
</div>

{% if user.id == g.user.id %}
<h5>My Clubs:</h5>
    <div class="container">
        <div class="row">
            {% for club in user.clubs %}
            <div class="card note-card" style="width: 10rem">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/clubs/{{ club.id }}">
                            {{ club.name }}
                        </a>
                    </h5>
                    {% if club.meetings|length > 0 %}
                        <ul class="card-text">
                            {% for meeting in club.meetings %}
                                <li>
                                    <a href="/clubs/{{ club.id }}/meetings/{{ meeting.id }}">
                                        {{meeting.date}}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No meetings scheduled!</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>

    </div>

    <div class="row">
            <a href="/users/{{ user.id }}/edit" class="btn btn-success col-2">Edit Profile</a>
        <form method="POST" action="/users/{{ user.id }}/delete" class="form-inline col-4">
            <button class="btn btn-outline-danger ">Delete Profile</button>
        </form>
    </div>

{% endif %}



{% endblock %}