{% extends 'base.html' %}

{% block title %}BookTalkers{% endblock %}

{% block content %}

<div class="centered-content">
    <h1 class="header">BookTalkers:</h1>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, msg in messages %}
            <p class="{{ category }}">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="info-table centered-content">
    <div class="row">
        {% for user in users %}
        <div class="card user-card" style="width: 18rem;">
            <div class="card-body">
                <img src="{{ user.image }}" alt="{{ user.username }} profile image" class="card-img-top">
                <h5 class="card-title">{{ user.username }}</h5>
                <a href="/users/{{ user.id }}" class="btn btn-primary">Check out this user</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}