{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<h1 class="display-1">Log In to BookTalk</h1>
<p class="lead">Enter your information below to log in to BookTalk!</p>
<p class="lead">Don't have an account? Click <a href="/register">here</a> to sign up!</p>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, msg in messages %}
            <p class="{{ category }}">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container-md form-container">
    <form action="" method="post">

        {{ form.hidden_tag() }}
    
        {% for field in form if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}
                {{ field(class_="form-control") }}
    
                {% for error in field.errors %}
                    <span class="form-text text-danger">{{ error }}</span>
                {% endfor %}
            </p>
        {% endfor %}
    
        <button class="btn btn-info" type="submit">Login</button>
    
    </form>
</div>



{% endblock %}