{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<h1 class="display-1">Sign Up for BookTalk</h1>
<p class="lead">Fill out the information below to get started!</p>
<p class="lead">Already have an account? Click <a href="/login">here</a> to sign in!</p>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, msg in messages %}
            <p class="{{ category }}">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="" method="post">

    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
                <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>
    {% endfor %}

    <button class="btn btn-info" type="submit">Sign Up</button>

</form>

{% endblock %}